root = true

[*]
end_of_line = lf                 # Padroniza quebra de linha do windows e linux
indent_style = space
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true  # Exclui espaços vazios ao final da linha
insert_final_newline = true      # Adiciona uma linha vazia ao final do arquivo sempre que salvar
